.row {
	padding-top: 15px;
}

.locale {
	margin-right: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.green {
	color: green;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.grey {
	color: grey;
}

.blue {
	color: blue;
}

.white {
	color: white;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.btn-basic {
	background-color: black;
	color: white;
}

.btn-confirmation {
	margin-right: 2px;
}

.bg-black {
	background-color: black;
}

.absolute {
	position: absolute;
}

.inline {
	display: inline;
}

.vertical-center {
	top: 45%;
}

.horizontal-center {
	left: 50%;
}

.quart-horiz-center-left {
	left: 25%;
}

.quart-horizontal-center-right {
	right: 25%;
}

.canvas-container {
	width: 30%;
	margin-bottom: 10px;
}

.canvas-container-detail {
	width: 50%;
	margin-bottom: 10px;
}

.inner-arrow {
	width: 10%;
}

.canvas-left {
	margin-left: 0;
}

.canvas-right {
	margin-right: 0;
}

.text-right {
	text-align: right;
}

.half-width {
	width: 50%;
}

.list-group {
	margin-bottom : 5px;
}

.list-group-item {
    padding: 8px 10px
}

.detail-chart {
	margin-top:0px;
}

.clear {
	clear:both;
}

.page-number-block {
	margin-top:10px;
	margin-bottom:5px;
}